* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


form {
    background-color: #213b50;
    color: #fff;
    padding: 20px;
    width: 350px;
    font-family: Arial, sans-serif;
}

input,
select,
textarea {
    background-color: #2b4a64;
    color: #fff;
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid #2b4a64;
    padding: 5px;
}

input:focus,
select:focus,
textarea:focus {
    background-color: #4e708c;
    border: 1px solid #fff;
    color: #fff;
}

input[type="radio"],
input[type="checkbox"] {
    width: auto;
}

label {
    display: block;
    margin-bottom: 2px;
}

label[for*="male"],
label[for="agreement"]{
    display: inline;
}

input[type="submit"] {
    background-color: #1ac056;
    width: auto;
    padding: 10px 20px;
    font-weight: 700;
    text-transform: uppercase;
    display: block;
    margin: 10px auto 5px;
}

input[type="submit"]:hover {
    cursor: pointer;
    background-color: #46e881;
}

p {
    margin: 0 0 5px;
}